*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}
body{
    background: #fff;
    text-align: center;
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    
}